{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=librarydb;Username=user;Password=<YOUR_PASSWORD>"
  },
  "Security": {
    "GrpcApiKey": "<YOUR_API_KEY>"
  }
}
