# Example environment variables for local development
# Copy this file to .env and change the values appropriately.

# The password for the PostgreSQL database
DB_PASSWORD=SecureDbPassword123!

# The ASP.NET Core environment
ASPNETCORE_ENVIRONMENT=Development

# gRPC API Key
GrpcApiKey=change-this-api-key-in-prod