name: .NET Core Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0
        
    - name: Restore dependencies
      run: dotnet restore LibrarySystem.sln
      
    - name: Build
      run: dotnet build LibrarySystem.sln --no-restore --configuration Release
      
    - name: Test (Unit & Integration)
      run: dotnet test LibrarySystem.sln --no-build --configuration Release --filter "Category!=Integration"
